html,body{
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.main_voice_Default_UI_Frame{
    width: 10%;
    height: 10%;
    background-color: aquamarine;
}